.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  gap: 8px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.container input {
  width: 90%;
  height: 40px;
  border: 1px solid #404756;
  border-radius: 12px;

  padding: 0px 8px;
}
.container button {
  width: 20%;
  height: 45px;
  border: none;
  background-color: #0091fb;
  border-radius: 12px;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
