.header {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;

  box-shadow: -3px 5px 18px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 5px 18px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 5px 18px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 0.2px solid #a4abbd;
}
.header h1 {
  font-size: 26px;
}

.header nav ul {
  display: flex;
  gap: 24px;
}

.header nav ul li {
  list-style: none;
  padding: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #888;

  cursor: pointer;
}
.selected {
  color: #404756 !important;
  border-bottom: 3px solid #0091fb;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}
